@model mvc_app.Models.Data401
@{
    ViewBag.Title = "Ц.401 ввод";
}


<form asp-action="Shop401" asp-controller="Shops">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Сырье</th>
                <th></th>
                <th>Норма</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.NAK)</td>
                <td><input type="text" asp-for="NAK" class="form-control" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.MA)</td>
                <td><input type="text" asp-for="MA" class="form-control" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.Natrii)</td>
                <td><input class="form-control" id="role" asp-for="Natrii"></td>
                <td>0.00072</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-light" />
    </div>

</form>