@model mvc_app.Models.Data201
@{
    ViewBag.Title = "Ц.201 ввод";
}


<form asp-action="Shop201" asp-controller="Shops">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Сырье</th>
                <th></th>
                <th>Норма</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.Propilen)</td>
                <td><input type="text" asp-for="Propilen" class="form-control" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.Angidrid)</td>
                <td><input type="text" asp-for="Angidrid" class="form-control" /></td>
                <td>0.00072</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model=>model.Laprol)</td>
                <td><input class="form-control" id="role" asp-for="Laprol"></td>
                <td>0.00072</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-light" />
    </div>

</form>