@model IEnumerable<mvc_app.Models.Shop>
@{
    ViewBag.Title = "Цеха";
}

<table class="table">
    <tr><th>Цеха</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="ShopDataInput" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-light">Цех @item.Number</a>
            </td>
        </tr>
    }
</table>
