@* @model IEnumerable<mvc_app.Models.Department> *@

@model mvc_app.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Отделы";
}
@* 
<table class="table">
    <tr><th>Отделы</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Department" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-light">Отдел @item.Name</a>
            </td>
        </tr>
    }
</table> *@


<table class="table text-center">
    <thead>
        <tr>
            @foreach(var dep in Model.Departments)
            {
                <th>Отдел @dep.Name</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-action="Index" asp-controller="Shops" asp-route-id="1" class="btn btn-light">Цех 101</a>
            </td>
            <td>
                 <a asp-action="Index" asp-controller="Shops" asp-route-id="7" class="btn btn-light disabled">Цех 201</a>
            </td>
            <td>
                 <a asp-action="Index" asp-controller="Shops" asp-route-id="9" class="btn btn-light">Цех 401</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Index" asp-controller="Shops" asp-route-id="2" class="btn btn-light">Цех 102</a>
            </td>
            <td>
                 <a asp-action="Index" asp-controller="Shops" asp-route-id="8" class="btn btn-light">Цех 204</a>
            </td>
            <td>
                 <a asp-action="Index" asp-controller="Shops" asp-route-id="10" class="btn btn-light">Цех 402</a>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Index" asp-controller="Shops" asp-route-id="3" class="btn btn-light">Цех 104</a>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a asp-action="Index" asp-controller="Shops" asp-route-id="4" class="btn btn-light">Цех 105</a>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a asp-action="Index" asp-controller="Shops" asp-route-id="5" class="btn btn-light">Цех 106-1</a>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a asp-action="Index" asp-controller="Shops" asp-route-id="6" class="btn btn-light">Цех 106-2</a>
            </td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>