@model IEnumerable<mvc_app.Models.Department>
@{
    ViewBag.Title = "Отделы";
}

<table class="table">
    <tr><th>Отделы</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Department" asp-controller="Home" asp-route-id="@item.Id">Отдел @item.Name</a>
            </td>
        </tr>
    }
</table>