@model IEnumerable<mvc_app.Models.User>
@{
    ViewBag.Title = "Все пользователи";
}
<a asp-action="Create">Добавить пользователя</a>

<a asp-action="Logout" asp-controller="Account">Выход</a>
<table class="table">
    <tr>
        <td>Имя</td>
        <td>Действия</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Number</td>
            <td>
                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">Подробнее</a>
            </td>
        </tr>
    }
</table>